/* default section */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

/* header section */
#headtop{
    display: flex;
}

/* header section: address */
#address{
    display: flex;
    margin: 34px;
    padding: 4px;
}
#address img{
    height: 45px;
    margin-right: 10px;
    margin-left: 20px;
}
#address p{
    font-family: 'EB Garamond', serif;
    color: gray;
}


/* header section: logo  */
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 161px;
}
#logo img{
    display: block;
    height: 64px;
    top: -18px;
    position: relative;
}
#logo h3{
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color:#ec0f6b;
}
.logocustom{
    margin: 5px;
}

/* header section : info  */
#info{

}
.contact_btn{
    margin-left: 225px;
    margin-top: 40px;
    height: 55px;
    width: 220px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border:2px solid #ec0f6b;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    /* border: none; */
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease 0s;
        
    }
    .contact_btn:hover {
        background-color: #0DFF8C;                  /*here we use invert value to make black image white*/
        border: #0DFF8C;                            /*here we use invert value to make black image white*/
        text-shadow: 0px 0px 8px rgb(0, 0, 0);
        -webkit-box-shadow: 0px 5px 40px -10px rgb(255, 255, 255);
        -moz-box-shadow: 0px 5px 40px -10px rgb(255, 255, 255);
        transition: all 0.4s ease 0s;
        filter: invert(100%);
        -webkit-filter: invert(100%);
        }
.button img{
    height: 34px;
    margin-right: 12px;
    /* box-shadow:0px 0px 6px white; */
}


/* Navigation Bar Section */

/* Navigation Bar Section: Menue/List */
#navigation{
    display: flex;
    height: 60px;
    position: sticky;
    top: 0px;
    background-color: white;
}
#navigation ul{
    display: flex;
    margin-top: 10px;
    padding: 2px;
}

.list{
    margin-left: 57px;
    padding: 2px;
    list-style: none;
}
.list a{
    text-decoration: none;
    color: #000000e6;
    font-family: 'Baloo 2', cursive;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.list a:hover{
    
    /* text-decoration: overline solid #ec0f6b; */
    color: #ec0f6b;
    text-decoration-thickness: 10px;
}
.list a:active{
    text-decoration: overline solid #f81717;
    
}

/*Navigation section: Cart and Search */
#search img{
    height: 35px;
    margin-top: 10px;
    margin-left: 375px;
}

#search img:hover{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
 #cart img{
    height: 40px;
    margin-top: 8px;
    margin-left: 20px;
}
                    
 #cart img:hover{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Home Sction of Website */
#home{
    display:flex;
    height: 700px;
    width: 100%;
    background: url('../img/Cakery.jpg') center center;
    background-size: cover;
}
#home h1{
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    margin-left: 66px;
    margin-top: 90px;
    font-size: 7rem;
}
#home img{
    transform: rotate(0deg);
    height: 3px;
    width: 70px;
    margin-top: 255px;
    margin-left: -338px;
}
#home h2{
    margin-top: 230px;
    margin-left: 21px;
    color: white;
    font-family: 'Monda', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}
#home p{
    margin-top: 300px;
    margin-left: -470px;
    color:#fffdd0;
    font-family: 'Baloo 2', cursive;
    font-size: 1.8rem;
}
/* Home Sction:Button */
#shopbtn{
    margin-left: -389px;
    margin-top: 420px;
    height: 55px;
    width: 220px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #10deaa;
    border:2px solid #10deaa;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    /* border: none; */
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease 0s;
}
#shopbtn:hover{
    background-color: #0DFF8C;                
    border: #0DFF8C;   
    color: white;                         
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
    -webkit-box-shadow: 0px 5px 40px -10px rgb(219, 219, 219);
    -moz-box-shadow: 0px 5px 40px -10px rgb(223, 223, 223);
    transition: all 0.4s ease 0s;
   
}


/* Section Gallary */
/* main background gallary settings */

#gallary{
    height: 1950px;
    width: 100%;
    background:url('../img/background/4.jpg') center center;
    background-size: cover;
    border: 10px solid white;
}
#gallary h1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Gallary: Cards Envelop */

#cards{                 
    display: flex;
    flex-wrap: wrap;
    margin: -35px 0px 0px 2px;
}

.boxcustom{
    
    border: 2px solid #750b0b;
    height: 510px;
    width: 377px;
    display: block;
    margin:60px 32px 54px 32px;
    cursor: pointer;
    position: inherit;
}
.boxcustom:hover{
    box-shadow: 7px 7px 45px #750b0b;
    background-color: white;
    transition: all 0.1s ease 0s;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#cards img{
   
    height: 255px;
    border: 10px solid white;
}
#box2 img{
    
    height: 255px;
    width: 373px;
}
#cards h2{
    margin: 30px 0px 0px 95px;
}
#cards p{
    font-size: 1.1rem;
    padding: 17px;
    margin-top: 8px;
    text-align: center;
}

/* Read More Button */
#cards a{
    display: block;    
}
.readmore{
    color: #ec0f6b;
    font-size: 1.2rem;
    margin: 8px 0px 0px 130px;
    padding: 0px 0px 0px 5px;
}
#cards a:hover{
    border: 2px solid #750b0b;
    height: 30px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #750b0b;
    transition: all 0.2s ease-in-out;
}

#order{
    margin-left: 19px;
    margin-top: -21px;
    height: 55px;
    width: 220px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0DFF8C;
    border:2px solid #0DFF8C;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    /* border: none; */
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease 0s;
}
#order:hover{
    background-color: #0DFF8C;                
    border: #0DFF8C;   
    color: white;                         
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
    -webkit-box-shadow: 0px 5px 40px -10px rgb(6, 218, 6);
    -moz-box-shadow: 0px 5px 40px -10px rgb(40, 211, 17);
    transition: all 0.4s ease 0s;
   
}

/* SHOPING SECTION */

#shop{
    height: 650px;
    width: 100%;
    background-color: white;
    background: url('../img/whychoose/cherry.jpg') center center no-repeat;
    background-size: contain;
}
#shopheading{
    display: block;
    margin: 10px 428px;
    font-size: 4rem;
    font-family: 'Monda', sans-serif;
    text-transform: uppercase;
    color: #750b0b;
    transition: all 0.2s ease-in-out;
}

/* SHOPING SECTION: Shopping car Container */
#ShopContainer{
    display: flex;
    flex-wrap: wrap;
    margin:  0px 0px 0px 0px;
    transition: all 0.2s ease-in-out;
    
}
/*SHOPING SECTION: 4 boxes section */

.shopingbox{
    /* border: 2px solid red; */
    margin: 2px 2px;
    height: 245px;
    width: 666px;
    /* display: flex;
    justify-content: center; */

}
#boxheading1{
    margin: 30px 0px 0px 131px;
    padding: 2px 2px;
    display: block;
    
}
#boxheading3{
    margin: 30px 0px 0px 131px;
    padding: 2px 2px;
    display: block;
    
}
#boxheading2{
    margin: 30px 0px 0px 320px;
    padding: 2px 2px;
    display: block;
    
}
#boxheading4{
    margin: 30px 0px 0px 320px;
    padding: 2px 2px;
    display: block;
    
}

.ShopImg1{
    height: 76px;
    display: block;
    /* position: inherit; */
    margin: 30px 402px;
    transition: all 0.2s ease-in-out;
}
.ShopImg1:hover{
   transform: rotate(10deg);
}
.Shoptext1{
    margin: -111px 288px 0px 0px;
    padding: 2px 2px;
    display: block;
    text-align: end;
    color: gray;
    font-size: 1.5rem;
    
}
.ShopImg2{
    height: 76px;
    display: block;
    /* position: inherit; */
    margin: 37px 158px;
    transition: all 0.2s ease-in-out;
}
.ShopImg2:hover{
    transform: rotate(10deg);
 }
.Shoptext2{
    margin: -120px 0px 0 256px;
    padding: 2px 2px;
    display: block;
    text-align: start;
    color: gray;
    font-size: 1.5rem;
    
}



/* ABOUT US SECTION START FROM HERE */
#about_us{
    height: 650px;
    width: 100%;
    background: url('../img/about/4.jpg') center center no-repeat;
    background-size: cover;
    border: 10px solid white;
    
}
#about_us h1{
    margin: 33px 0px 0px 724px;
    font-size: 5rem;
    display: block;
    color: black;
}
#about_us h2{
    margin: 50px 0px 25px 800px;
    font-size: 2rem;
    display: block;
    color: gray;
    font-family: 'Baloo 2', cursive;
}
#about_us h3{
    margin: 5px 0px 0px 730px;
    font-size: 3rem;
    display: block;
    color: #750b0b;
    font-family: 'Great Vibes', cursive;
}
/* All Page Headings Setting Section Is Here: */
.mainheading{
    
    font-size: 3rem;
    color: #750b0b;
    font-family: 'Monda', sans-serif;
    text-transform: uppercase;
    display: block;
}
.subheading{
    color: #750b0b;;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Monda', sans-serif; */
}
html{
    scroll-behavior: smooth;
}
